@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  background-color: var(--background-color);
}

h1 {

  color: var(--text-color);
  font-family: 'Nunito', 'sans-serif';
  line-height: 0;
  font-size: 43px;
}



:root {
  
  --main-primary-color: #525050;
  --main-secondary-color: #0099FF;
  --main-accent-color1: #FFCC00;
  --main-accent-color2: #66FF99;
  --main-neutral-color: #EFEFEF;
  --text-color: #fff;


  --background-color: #5CDB95;
  --main-text-color: #05386B;
  --overlay-color: #8EE4AF;
  --text-box-color: #EDF5E1;
  --line-color: #379683;

}